@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Index page after Logged in</p>
</div>


<a asp-action="Index">Assign/unassign users to/from roles</a> 
<br></br>
<a asp-action="Index">Projects (Create/Update)</a>
<br></br>
<a asp-action="Index">Ticket Dashboard</a>
